/* Write your code here. */
*{
    box-sizing:border-box;
    margin:0;
}
container{
    background-image: linear-gradient(to right,#1d976c,#93f9b9);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color:#fff;
}
.cal-image{
    width:80%;
    padding: 20px;
    }
h1{
        font-size: 42px;
        color:#fff;
    }
button{
    color:#219a6f;
    padding: 15px 20px;
    border:0;
    border-radius: 10px;
    cursor:pointer;
    font-weight: 700;
    margin-top: 10px;
}
input{
    background-color: transperent;
    border: 1px solid #fff;
    color: #fff;
    height: 34px;
    width:250px;
}

